/* [next]/internal/font/google/dm_serif_display_f413d072.module.css [app-client] (css) */
@font-face {
  font-family: DM Serif Display;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../media/26a0a19eb96a029d-s.f2d931fb.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Serif Display;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../media/fad69795a077455b-s.p.81e64049.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: DM Serif Display Fallback;
  src: local(Times New Roman);
  ascent-override: 94.37%;
  descent-override: 30.51%;
  line-gap-override: 0.0%;
  size-adjust: 109.78%;
}

.dm_serif_display_f413d072-module__KM7NOG__className {
  font-family: DM Serif Display, DM Serif Display Fallback;
  font-style: italic;
  font-weight: 400;
}

.dm_serif_display_f413d072-module__KM7NOG__variable {
  --font-dm-serif: "DM Serif Display", "DM Serif Display Fallback";
}

/* [next]/internal/font/google/manrope_b7d5735e.module.css [app-client] (css) */
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("../media/a342834df7752944-s.bb140f9f.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("../media/d3fe2f289711ac3f-s.50575af1.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("../media/58c4895d0a0ef7cc-s.78d1a7ae.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("../media/bfc7db5c00d21bc5-s.247c8473.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("../media/6ab0db14f70d8ed6-s.18d7c7dc.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("../media/a343f882a40d2cc9-s.p.71e1367e.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Manrope Fallback;
  src: local(Arial);
  ascent-override: 103.31%;
  descent-override: 29.07%;
  line-gap-override: 0.0%;
  size-adjust: 103.19%;
}

.manrope_b7d5735e-module__suUhcW__className {
  font-family: Manrope, Manrope Fallback;
  font-style: normal;
}

.manrope_b7d5735e-module__suUhcW__variable {
  --font-manrope: "Manrope", "Manrope Fallback";
}

/* [project]/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-border-style: solid;
      --tw-font-weight: initial;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
    }
  }
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-gray-600: #4a5565;
    --color-gray-700: #364153;
    --color-gray-800: #1e2939;
    --color-white: #fff;
    --spacing: .25rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-4xl: 56rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --text-9xl: 8rem;
    --text-9xl--line-height: 1;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --radius-lg: .5rem;
    --radius-xl: .75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-4xl: 2rem;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
  }

  @supports (color: lab(0% 0 0)) {
    :root, :host {
      --color-gray-600: lab(35.6337% -1.58697 -10.8425);
      --color-gray-700: lab(27.1134% -.956401 -12.3224);
      --color-gray-800: lab(16.1051% -1.18239 -11.7533);
    }
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .invisible {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .inset-4 {
    inset: calc(var(--spacing) * 4);
  }

  .top-4 {
    top: calc(var(--spacing) * 4);
  }

  .bottom-0 {
    bottom: calc(var(--spacing) * 0);
  }

  .bottom-4 {
    bottom: calc(var(--spacing) * 4);
  }

  .bottom-24 {
    bottom: calc(var(--spacing) * 24);
  }

  .bottom-28 {
    bottom: calc(var(--spacing) * 28);
  }

  .-left-28 {
    left: calc(var(--spacing) * -28);
  }

  .-left-32 {
    left: calc(var(--spacing) * -32);
  }

  .left-4 {
    left: calc(var(--spacing) * 4);
  }

  .left-11 {
    left: calc(var(--spacing) * 11);
  }

  .left-\[3\.75rem\] {
    left: 3.75rem;
  }

  .-z-50 {
    z-index: calc(50 * -1);
  }

  .z-10 {
    z-index: 10;
  }

  .z-20 {
    z-index: 20;
  }

  .z-50 {
    z-index: 50;
  }

  .z-100 {
    z-index: 100;
  }

  .z-\[101\] {
    z-index: 101;
  }

  .z-\[9999\] {
    z-index: 9999;
  }

  .container {
    width: 100%;
  }

  @media (min-width: 40rem) {
    .container {
      max-width: 40rem;
    }
  }

  @media (min-width: 48rem) {
    .container {
      max-width: 48rem;
    }
  }

  @media (min-width: 64rem) {
    .container {
      max-width: 64rem;
    }
  }

  @media (min-width: 80rem) {
    .container {
      max-width: 80rem;
    }
  }

  @media (min-width: 96rem) {
    .container {
      max-width: 96rem;
    }
  }

  .mt-1 {
    margin-top: calc(var(--spacing) * 1);
  }

  .flex {
    display: flex;
  }

  .h-2 {
    height: calc(var(--spacing) * 2);
  }

  .h-4 {
    height: calc(var(--spacing) * 4);
  }

  .h-10 {
    height: calc(var(--spacing) * 10);
  }

  .h-24 {
    height: calc(var(--spacing) * 24);
  }

  .h-32 {
    height: calc(var(--spacing) * 32);
  }

  .h-auto {
    height: auto;
  }

  .h-full {
    height: 100%;
  }

  .min-h-\[56px\] {
    min-height: 56px;
  }

  .min-h-\[500px\] {
    min-height: 500px;
  }

  .min-h-screen {
    min-height: 100vh;
  }

  .w-4 {
    width: calc(var(--spacing) * 4);
  }

  .w-10 {
    width: calc(var(--spacing) * 10);
  }

  .w-24 {
    width: calc(var(--spacing) * 24);
  }

  .w-32 {
    width: calc(var(--spacing) * 32);
  }

  .w-\[92\%\] {
    width: 92%;
  }

  .w-\[95\%\] {
    width: 95%;
  }

  .w-full {
    width: 100%;
  }

  .max-w-4xl {
    max-width: var(--container-4xl);
  }

  .max-w-\[1520px\] {
    max-width: 1520px;
  }

  .max-w-xl {
    max-width: var(--container-xl);
  }

  .flex-1 {
    flex: 1;
  }

  .shrink {
    flex-shrink: 1;
  }

  .grow {
    flex-grow: 1;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .gap-1\.5 {
    gap: calc(var(--spacing) * 1.5);
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-visible {
    overflow: visible;
  }

  .rounded {
    border-radius: .25rem;
  }

  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .rounded-xl {
    border-radius: var(--radius-xl);
  }

  .border, .border-1 {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-2 {
    border-style: var(--tw-border-style);
    border-width: 2px;
  }

  .border-\[1px\] {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-\[\#C6E9F7\] {
    border-color: #c6e9f7;
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .p-3 {
    padding: calc(var(--spacing) * 3);
  }

  .p-4 {
    padding: calc(var(--spacing) * 4);
  }

  .px-2 {
    padding-inline: calc(var(--spacing) * 2);
  }

  .px-3 {
    padding-inline: calc(var(--spacing) * 3);
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }

  .px-6 {
    padding-inline: calc(var(--spacing) * 6);
  }

  .py-1\.5 {
    padding-block: calc(var(--spacing) * 1.5);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-2\.5 {
    padding-block: calc(var(--spacing) * 2.5);
  }

  .py-3 {
    padding-block: calc(var(--spacing) * 3);
  }

  .py-6 {
    padding-block: calc(var(--spacing) * 6);
  }

  .pb-1 {
    padding-bottom: calc(var(--spacing) * 1);
  }

  .text-center {
    text-align: center;
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  .text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  .text-7xl {
    font-size: var(--text-7xl);
    line-height: var(--tw-leading, var(--text-7xl--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-xs {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .text-gray-600 {
    color: var(--color-gray-600);
  }

  .text-gray-700 {
    color: var(--color-gray-700);
  }

  .text-gray-800 {
    color: var(--color-gray-800);
  }

  .italic {
    font-style: italic;
  }

  .blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .filter {
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .transition {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  @media (hover: hover) {
    .hover\:scale-105:hover {
      --tw-scale-x: 105%;
      --tw-scale-y: 105%;
      --tw-scale-z: 105%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }

  @media (min-width: 40rem) {
    .sm\:inset-6 {
      inset: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 40rem) {
    .sm\:top-6 {
      top: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 40rem) {
    .sm\:bottom-6 {
      bottom: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 40rem) {
    .sm\:bottom-26 {
      bottom: calc(var(--spacing) * 26);
    }
  }

  @media (min-width: 40rem) {
    .sm\:bottom-32 {
      bottom: calc(var(--spacing) * 32);
    }
  }

  @media (min-width: 40rem) {
    .sm\:-left-28 {
      left: calc(var(--spacing) * -28);
    }
  }

  @media (min-width: 40rem) {
    .sm\:left-6 {
      left: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 40rem) {
    .sm\:left-\[4\.75rem\] {
      left: 4.75rem;
    }
  }

  @media (min-width: 40rem) {
    .sm\:mt-2 {
      margin-top: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 40rem) {
    .sm\:h-5 {
      height: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 40rem) {
    .sm\:h-11 {
      height: calc(var(--spacing) * 11);
    }
  }

  @media (min-width: 40rem) {
    .sm\:h-28 {
      height: calc(var(--spacing) * 28);
    }
  }

  @media (min-width: 40rem) {
    .sm\:h-40 {
      height: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 40rem) {
    .sm\:min-h-\[60px\] {
      min-height: 60px;
    }
  }

  @media (min-width: 40rem) {
    .sm\:min-h-\[550px\] {
      min-height: 550px;
    }
  }

  @media (min-width: 40rem) {
    .sm\:w-5 {
      width: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 40rem) {
    .sm\:w-11 {
      width: calc(var(--spacing) * 11);
    }
  }

  @media (min-width: 40rem) {
    .sm\:w-28 {
      width: calc(var(--spacing) * 28);
    }
  }

  @media (min-width: 40rem) {
    .sm\:w-36 {
      width: calc(var(--spacing) * 36);
    }
  }

  @media (min-width: 40rem) {
    .sm\:w-\[85\%\] {
      width: 85%;
    }
  }

  @media (min-width: 40rem) {
    .sm\:w-\[90\%\] {
      width: 90%;
    }
  }

  @media (min-width: 40rem) {
    .sm\:gap-2 {
      gap: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 40rem) {
    .sm\:gap-2\.5 {
      gap: calc(var(--spacing) * 2.5);
    }
  }

  @media (min-width: 40rem) {
    .sm\:gap-3 {
      gap: calc(var(--spacing) * 3);
    }
  }

  @media (min-width: 40rem) {
    .sm\:gap-4 {
      gap: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 40rem) {
    .sm\:gap-8 {
      gap: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 40rem) {
    .sm\:p-5 {
      padding: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 40rem) {
    .sm\:p-6 {
      padding: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 40rem) {
    .sm\:px-0 {
      padding-inline: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 40rem) {
    .sm\:px-4 {
      padding-inline: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 40rem) {
    .sm\:px-5 {
      padding-inline: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 40rem) {
    .sm\:px-6 {
      padding-inline: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 40rem) {
    .sm\:px-8 {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 40rem) {
    .sm\:py-2 {
      padding-block: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 40rem) {
    .sm\:py-2\.5 {
      padding-block: calc(var(--spacing) * 2.5);
    }
  }

  @media (min-width: 40rem) {
    .sm\:py-3 {
      padding-block: calc(var(--spacing) * 3);
    }
  }

  @media (min-width: 40rem) {
    .sm\:py-3\.5 {
      padding-block: calc(var(--spacing) * 3.5);
    }
  }

  @media (min-width: 40rem) {
    .sm\:py-8 {
      padding-block: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 40rem) {
    .sm\:pb-2 {
      padding-bottom: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-3xl {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-4xl {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-8xl {
      font-size: var(--text-8xl);
      line-height: var(--tw-leading, var(--text-8xl--line-height));
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }
  }

  @media (min-width: 40rem) {
    .sm\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:inset-8 {
      inset: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:top-8 {
      top: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:bottom-8 {
      bottom: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:bottom-28 {
      bottom: calc(var(--spacing) * 28);
    }
  }

  @media (min-width: 48rem) {
    .md\:bottom-36 {
      bottom: calc(var(--spacing) * 36);
    }
  }

  @media (min-width: 48rem) {
    .md\:-left-24 {
      left: calc(var(--spacing) * -24);
    }
  }

  @media (min-width: 48rem) {
    .md\:left-8 {
      left: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:left-\[5\.75rem\] {
      left: 5.75rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-12 {
      height: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 48rem) {
    .md\:h-32 {
      height: calc(var(--spacing) * 32);
    }
  }

  @media (min-width: 48rem) {
    .md\:h-48 {
      height: calc(var(--spacing) * 48);
    }
  }

  @media (min-width: 48rem) {
    .md\:min-h-\[64px\] {
      min-height: 64px;
    }
  }

  @media (min-width: 48rem) {
    .md\:min-h-\[600px\] {
      min-height: 600px;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-12 {
      width: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-32 {
      width: calc(var(--spacing) * 32);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-40 {
      width: calc(var(--spacing) * 40);
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[80\%\] {
      width: 80%;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[85\%\] {
      width: 85%;
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-3 {
      gap: calc(var(--spacing) * 3);
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-5 {
      gap: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-10 {
      gap: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded {
      border-radius: .25rem;
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded-2xl {
      border-radius: var(--radius-2xl);
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded-3xl {
      border-radius: var(--radius-3xl);
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded-4xl {
      border-radius: var(--radius-4xl);
    }
  }

  @media (min-width: 48rem) {
    .md\:rounded-xl {
      border-radius: var(--radius-xl);
    }
  }

  @media (min-width: 48rem) {
    .md\:p-6 {
      padding: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 48rem) {
    .md\:p-8 {
      padding: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:px-5 {
      padding-inline: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 48rem) {
    .md\:px-6 {
      padding-inline: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 48rem) {
    .md\:px-8 {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:px-10 {
      padding-inline: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 48rem) {
    .md\:py-2 {
      padding-block: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 48rem) {
    .md\:py-4 {
      padding-block: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 48rem) {
    .md\:pb-3 {
      padding-bottom: calc(var(--spacing) * 3);
    }
  }

  @media (min-width: 48rem) {
    .md\:text-4xl {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-5xl {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-9xl {
      font-size: var(--text-9xl);
      line-height: var(--tw-leading, var(--text-9xl--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }
  }

  @media (min-width: 48rem) {
    .md\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:inset-10 {
      inset: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 64rem) {
    .lg\:top-10 {
      top: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 64rem) {
    .lg\:bottom-10 {
      bottom: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 64rem) {
    .lg\:bottom-28 {
      bottom: calc(var(--spacing) * 28);
    }
  }

  @media (min-width: 64rem) {
    .lg\:bottom-\[10\.5rem\] {
      bottom: 10.5rem;
    }
  }

  @media (min-width: 64rem) {
    .lg\:-left-12 {
      left: calc(var(--spacing) * -12);
    }
  }

  @media (min-width: 64rem) {
    .lg\:-left-14 {
      left: calc(var(--spacing) * -14);
    }
  }

  @media (min-width: 64rem) {
    .lg\:-left-20 {
      left: calc(var(--spacing) * -20);
    }
  }

  @media (min-width: 64rem) {
    .lg\:left-10 {
      left: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 64rem) {
    .lg\:left-\[6\.75rem\] {
      left: 6.75rem;
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-36 {
      height: calc(var(--spacing) * 36);
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-\[640px\] {
      height: 640px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:min-h-16 {
      min-height: calc(var(--spacing) * 16);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-3\/4 {
      width: 75%;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-36 {
      width: calc(var(--spacing) * 36);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-44 {
      width: calc(var(--spacing) * 44);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[90\%\] {
      width: 90%;
    }
  }

  @media (min-width: 64rem) {
    .lg\:max-w-2xl {
      max-width: var(--container-2xl);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-14 {
      gap: calc(var(--spacing) * 14);
    }
  }

  @media (min-width: 64rem) {
    .lg\:p-8 {
      padding: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 64rem) {
    .lg\:px-8 {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 64rem) {
    .lg\:px-10 {
      padding-inline: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 64rem) {
    .lg\:px-16 {
      padding-inline: calc(var(--spacing) * 16);
    }
  }

  @media (min-width: 64rem) {
    .lg\:py-5 {
      padding-block: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 64rem) {
    .lg\:pb-4 {
      padding-bottom: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-5xl {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-6xl {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-xl {
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }
  }

  @media (min-width: 80rem) {
    .xl\:h-\[640px\] {
      height: 640px;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-3\/4 {
      width: 75%;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-\[90\%\] {
      width: 90%;
    }
  }

  @media (min-width: 80rem) {
    .xl\:p-10 {
      padding: calc(var(--spacing) * 10);
    }
  }

  @media (min-width: 80rem) {
    .xl\:text-6xl {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }
  }

  @media (min-width: 80rem) {
    .xl\:text-7xl {
      font-size: var(--text-7xl);
      line-height: var(--tw-leading, var(--text-7xl--line-height));
    }
  }

  @media (min-width: 80rem) {
    .xl\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }
  }

  @media (min-width: 80rem) {
    .xl\:text-xl {
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:h-\[700px\] {
      height: 700px;
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:w-\[92\%\] {
      width: 92%;
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:p-12 {
      padding: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:text-6xl {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }
  }

  @media (min-width: 96rem) {
    .\32 xl\:text-7xl {
      font-size: var(--text-7xl);
      line-height: var(--tw-leading, var(--text-7xl--line-height));
    }
  }
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__0d6449c4._.css.map*/